{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'payapp/styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'payapp/styles/style.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'payapp/images/favicon.png' %}"
    />
    <title>
      {% block title %}Dashboard | PayApp | Your Online Payment Solution
      {%endblock %}
    </title>
  </head>
  <body>
    <nav>
      <div
        class="w-full h-16 bg-gray-50 shadow-lg flex justify-between p-5 items-center"
      >
        <div class="w-32">
          <a href="/webapps2023">
            <img
              class="w-full h-full object-cover"
              src="{% static 'payapp/images/payapp-logo.svg' %}"
              alt=""
            />
          </a>
        </div>
        <div class="flex items-center">
          <div>{% block navbar %} {% endblock %}</div>
          <a
            href="/webapps2023/logout"
            class="bg-red-500 ml-5 rounded-md p-2 text-gray-50 font-bold m-2 hover:red-blue-600 duration-300 shadow-md"
            >Logout</a
          >
        </div>
      </div>
    </nav>

    <main id="content">{% block content %}{% endblock %}</main>
    {% include 'payapp/components/footer/footer.html'%}

    <script src="{% static 'payapp/js/dashboard.js' %}"></script>
  </body>
</html>
