{% extends 'payapp/components/dashBase.html' %} {% block title %}Dashboard |
PayApp | Your Online Payment Solution {%endblock %} {% block navbar %}

<div class="flex items-center">
  <div class="w-8 h-8 rounded-full bg-gray-300 shadow-md"></div>
  <h1 class="ml-3 font-bold text-gray-700">{{user.username}}</h1>
</div>

{% endblock %} {% block content %}

<div class="grid grid-cols-[150px,1fr] grid-rows-1">
  <div
    class="side-nav col-start-1 col-end-2 row-start-1 row-end-2 justify-self-center"
  >
    <ul>
      <li>
        <a
          class="text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
          href="/webapps2023/dashboard/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
          <h1 class="font-semibold">Dashboard</h1>
        </a>
      </li>
      <li>
        <a
          href="/webapps2023/transfer/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
            />
          </svg>
          <h1 class="font-semibold">Transfer</h1>
        </a>
      </li>
      <li class="">
        <a
          href="/webapps2023/account/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"
            />
          </svg>

          <h1 class="font-semibold">Account</h1>
        </a>
      </li>
      <li>
        <a
          href="/webapps2023/requests/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
            />
          </svg>

          <h1 class="font-semibold">Requests</h1>
        </a>
      </li>
    </ul>
  </div>

  <div class="details-dash col-start-2 col-end-3 row-start-1 row-end-2">
    {% include 'payapp/components/dashboard/dashboard.html' with user=user %}
  </div>
</div>

{% endblock %}
