{% extends 'payapp/components/dashBase.html' %} {% block title %}Dashboard |
PayApp | Your Online Payment Solution {%endblock %} {% block navbar %}

<div class="flex items-center">
  <div class="w-8 h-8 rounded-full bg-gray-300 shadow-md"></div>
  <h1 class="ml-3 font-bold text-gray-700">{{user.username}}</h1>
</div>

{% endblock %} {% block content %}

<div class="grid grid-cols-[150px,1fr] grid-rows-1">
  <div
    class="side-nav col-start-1 col-end-2 row-start-1 row-end-2 justify-self-center"
  >
    <ul>
      <li>
        <a
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
          href="/webapps2023/dashboard/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
          <h1 class="font-semibold">Dashboard</h1>
        </a>
      </li>
      <li>
        <a
          href="/webapps2023/transfer/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
            />
          </svg>
          <h1 class="font-semibold">Transfer</h1>
        </a>
      </li>
      <li class="">
        <a
          href="/webapps2023/account/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"
            />
          </svg>

          <h1 class="font-semibold">Account</h1>
        </a>
      </li>
      <li>
        <a
          href="/webapps2023/requestpage/"
          class="text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
            />
          </svg>

          <h1 class="font-semibold">Request</h1>
        </a>
      </li>

      <li>
        <a
          href="/webapps2023/paymentrequests/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
            />
          </svg>

          <h1 class="font-semibold">Payment</h1>
        </a>
      </li>
    </ul>
  </div>

  <div class="details-dash col-start-2 col-end-3 row-start-1 row-end-2">
    <form action="{% url 'paymentrequest' %}" method="POST">
      {% csrf_token %}
      <div class="flex flex-col justify-center items-center mt-3">
        <h1 class="text-2xl font-semibold text-gray-700">
          Send Payment Request
        </h1>
        <div class="flex flex-col justify-center items-center mt-5">
          <div class="flex flex-col justify-center items-center">
            <label for="amount" class="text-gray-700 font-semibold">
              Amount
            </label>
            <input
              type="number"
              name="amount"
              id="amount"
              min="1"
              max="500"
              class="border-[1px] border-gray-300 rounded-md px-2 py-1 w-80 focus:outline-none focus:border-blue-600"
              required
              placeholder="Enter amount to request"
            />
          </div>
          <div class="flex flex-col justify-center items-center mt-5">
            <label for="email" class="text-gray-700 font-semibold">
              Email Address
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="border-[1px] border-gray-300 rounded-md px-2 py-1 w-80 focus:outline-none focus:border-blue-600"
              required
              placeholder="Enter email address to request from"
            />
          </div>
          <div class="flex flex-col justify-center items-center mt-5">
            <label for="message" class="text-gray-700 font-semibold">
              Message (Optional)
            </label>
            <input
              type="text"
              name="message"
              id="message"
              class="border-[1px] border-gray-300 rounded-md px-2 py-1 w-80 focus:outline-none focus:border-blue-600"
              placeholder="Enter message (optional))"
            />
          </div>

          {% if msg %}
          <div
            class="popup fixed w-full h-full bg-gray-300/50 z-10 left-0 right-0 bottom-0 top-0"
          ></div>
          <div
            class="popup-card max-w-md bg-green-500 h-28 absolute left-0 right-0 top-0 bottom-0 flex justify-center items-center z-20 m-auto rounded-md text-gray-50"
          >
            <div class="">
              <div class="float-right mt-3 mb-3">
                <button
                  id="close"
                  class="font-bold p-2 text-red-500 bg-gray-200 rounded-md"
                >
                  X
                </button>
              </div>
              <h1 class="font-bold text-gray-50">{{msg}}</h1>
            </div>
          </div>
          {% endif %}

          <div class="flex flex-col justify-center items-center mt-5">
            <button
              id="send"
              type="submit"
              class="bg-blue-600 text-white px-5 py-2 rounded-md hover:bg-blue-700 transition-all duration-300"
            >
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
