{% extends 'payapp/components/dashBase.html' %} {% block title %}Transfer |
PayApp | Your Online Payment Solution {%endblock %} {% block navbar %}

<div class="flex items-center">
  <div class="w-8 h-8 rounded-full bg-gray-300 shadow-md"></div>
  <h1 class="ml-3 font-bold text-gray-700">{{user.username}}</h1>
</div>

{% endblock %} {% block content %}

<div class="grid grid-cols-[150px,1fr] grid-rows-1">
  <div
    class="side-nav col-start-1 col-end-2 row-start-1 row-end-2 justify-self-center"
  >
    <ul>
      <li>
        <a
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
          href="/webapps2023/dashboard/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
          <h1 class="font-semibold">Dashboard</h1>
        </a>
      </li>
      <li>
        <a
          href="/webapps2023/transfer/"
          class="text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
            />
          </svg>
          <h1 class="font-semibold">Transfer</h1>
        </a>
      </li>

      <li>
        <a
          href="/webapps2023/requestpage/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
            />
          </svg>

          <h1 class="font-semibold">Request</h1>
        </a>
      </li>

      <li>
        <a
          href="/webapps2023/paymentrequests/"
          class="hover:text-blue-600 transition-all duration-300 flex flex-col justify-center items-center mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
            />
          </svg>

          <h1 class="font-semibold">Payment</h1>
        </a>
      </li>
    </ul>
  </div>

  <div class="details-dash col-start-2 col-end-3 row-start-1 row-end-2">
    <div>
      <form action="{% url 'transferamount' %}" method="POST">
        {% csrf_token %}

        <div class="flex flex-col justify-center items-center mt-5">
          <h1 class="text-2xl font-semibold text-gray-700">Transfer</h1>
          <div class="flex flex-col justify-center items-center mt-5">
            <div class="flex flex-col justify-center items-center">
              <label for="amount" class="text-gray-700 font-semibold"
                >Amount</label
              >
              <input
                type="number"
                name="amount"
                id="amount"
                max="500"
                min="1"
                class="border border-gray-300 rounded-md w-80 h-10 px-3 mt-2"
                placeholder="Enter Amount"
              />
            </div>

            {% if error_balance %}
            <div class="mt-3">
              <div class="text-red-500 font-semibold">{{ error_balance }}</div>
            </div>
            {% endif %}

            <div class="flex flex-col justify-center items-center mt-5">
              <label for="account" class="text-gray-700 font-semibold"
                >Receiver Email</label
              >
              <input
                type="email"
                name="email"
                id="account"
                class="border border-gray-300 rounded-md w-80 h-10 px-3 mt-2"
                placeholder="Enter email id"
              />
            </div>
            {% if error_user %}
            <div class="mt-3">
              <div class="text-red-500 font-semibold">{{ error_user }}</div>
            </div>
            {% endif %}
            <div class="flex flex-col justify-center items-center mt-5">
              <label for="pin" class="text-gray-700 font-semibold"
                >Your Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                class="border border-gray-300 rounded-md w-80 h-10 px-3 mt-2"
                placeholder="Enter Password"
              />
            </div>

            {% if error_msg %}
            <div class="mt-3">
              <div class="text-red-500 font-semibold">{{ error_msg }}</div>
            </div>
            {% endif %}

            <div class="flex flex-col justify-center items-center mt-5">
              <button class="bg-blue-600 text-white rounded-md w-80 h-10">
                Transfer
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
