{% load static %}
<nav>
  <div
    class="w-full h-16 bg-gray-50 shadow-lg flex justify-between p-5 items-center"
  >
    <div class="w-32">
      <img
        class="w-full h-full object-cover"
        src="{% static 'payapp/images/payapp-logo.svg' %}"
        alt=""
      />
    </div>
    <div>
      <a
        href="/webapps2023"
        class="bg-blue-500 rounded-lg p-2 text-gray-50 font-bold m-2 hover:bg-blue-600 duration-300"
        >Sign In</a
      >
      <a
        href="/webapps2023"
        class="bg-blue-500 rounded-lg p-2 text-gray-50 font-bold m-2 hover:bg-blue-600 duration-300"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
